<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>后台管理系统</title>
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
	<link rel="stylesheet" href="__ADMIN__/css/admin.css">
	{block name='css'}{/block}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	{block name='header'}
	<div class="layui-header">
		<div class="layui-logo">后台管理系统</div>
		<!-- 头部区域（可配合layui已有的水平导航） -->
		<ul class="layui-nav layui-layout-left">
			<li class="layui-nav-item"><a href="">控制台</a></li>
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item"><a id="clear-cache" href="javascript:;" data-url="{:url('system/clear')}">清除缓存</a></li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
					{$admin.username}
				</a>
				<dl class="layui-nav-child">
					<dd><a href="">基本资料</a></dd>
					<dd><a href="">安全设置</a></dd>
					<dd><a href="{:url('login/loginOut')}">退出登录</a></dd>
				</dl>
			</li>
		</ul>
	</div>
	{/block}
	{block name='menu'}
	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree"  lay-filter="test">
				{foreach name="menu" item="vo"}
				{if condition="isset($vo['children'])"}
				<li class="layui-nav-item">
					<a class="" href="javascript:;">{$vo.title}</a>
					<dl class="layui-nav-child">
						{foreach name="vo['children']" item="v"}
						<dd><a href="{:url($v.name)}">{$v.title}</a></dd>
						{/foreach}
					</dl>
				</li>
				{else /}
				<li class="layui-nav-item"><a href="{:url($vo.name)}">{$vo.title}</a></li>
				{/if}
				{/foreach}
			</ul>
		</div>
	</div>
	{/block}
	{block name='main'}
	<div class="layui-body">
		<!-- 内容主体区域 -->
		<div style="padding: 15px;">
			内容主体区域
		</div>
	</div>
	{/block}
	{block name='footer'}
	<div class="layui-footer">
		<!-- 底部固定区域 -->
		© layui.com - 底部固定区域
	</div>
	{/block}
</div>
<script src="__STATIC__/layui/layui.all.js"></script>
<script src="__ADMIN__/js/jquery.min.js"></script>
<script src="__ADMIN__/js/admin.js"></script>
{block name="js"}{/block}
<!--页面JS脚本-->
{block name="script"}{/block}
</body>
</html>